<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9dcdf527-627f-458a-8503-d79bd9f1881b/resourceGroups/rgf/providers/Microsoft.Web/sites/SafariSyncAPIf</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://safarisyncapif.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>950bfb95-9575-44ab-ad80-28bdcebfd2bf</ProjectGuid>
    <PublishUrl>https://safarisyncapif.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SafariSyncAPIf</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>