
  <div class="mid-panel">
    <h3>Help Page</h3>
  </div>
  
  

  <div class="container">
    <div class="search-bar text-center">
      <input type="text" class="form-control" placeholder="Search" (input)="searchEntries($event)">
    </div>
    <div class="row">
      <div class="col">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let entry of filteredEntries.slice(0, 7)" (click)="showPdf(entry)">
              <td>{{ entry }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table table-striped">
          <tbody>
            <tr *ngFor="let entry of filteredEntries.slice(7)" (click)="showPdf(entry)">
              <td>{{ entry }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <ng-container *ngIf="showPdfViewer">
        <div id="pdf-viewer-overlay"></div>
        <div id="pdf-viewer-container">
          <button class="close-btn" (click)="hidePdfViewer()">&times;</button>
          <iframe [src]="selectedEntryPdfUrl" frameborder="0" width="100%" height="100%"></iframe>
        </div>
      </ng-container>


      <div class="page-container">
                
        <!-- Button to display PDF -->
        <button class="pdf-button" (click)="showPdf('Entry 14')">Complete Help PDF</button>
            
      </div>


  </div>


  
  
  
  
  
  
  
  
  <!-- Help video Modal -->
<ng-template #videoModal let-modal modal-fade autofocus="false">
  <div class="modal-header">
      <h4 class="modal-title">Help Video</h4>
  </div>
  <div class="modal-body" autofocus="false">
      <video width="100%" controls>
          <source src="/assets/Videos/Test4.mp4" type="video/mp4">
          Your browser does not support the video tag.
      </video>
      <button autofocus="false" type="button" class="modal-button" (click)="modal.close('Close click')">Close</button>
  </div>
  <div class="modal-footer">
      <!-- Modal footer content -->
  </div>
</ng-template>
  
  

  
  <!-- Bottom Panel -->
  <div class="bottom-panel">
    <img src="\assets\EPI-USE_Logo.jpg" alt="EPI-USE Logo">
  </div>
  





  


