.top-panel {
    background-color: #001844;
    height:116px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
    outline: none !important;

}

nav {
    margin-top: 116px;
}   

.collapse.navbar-collapse {
    justify-content: center;
}
 
.navbar-nav {
    justify-content: space-between;
    width: 95%;
}  
  
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    font-size: 24px;
}

.bottom-panel {
    height: 50px;
    background-color: #CD1543;
    height:57px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    outline: none !important;

}

.bottom-panel img {
    margin-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    width:100px;
    height:50px;
    border-radius:10px;
    outline: none !important;

} 

  
  .modal-content {
    background-color: #F2F2F2;
    border-radius: 5px;
    outline: none !important;
    border: none;
 }
  
  .modal-title {
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
     display: flex;
     align-items: center;
    justify-content: center;
    outline: none !important;

  }
  
  .modal-body video {
    width: 100%;
    height: auto;
    outline: none !important;

  }
  

  .modal-header {
    background-color: #001844; /* Set your desired background color */
    color: white; /* Set the text color */
    border: none;
    outline: none !important;
  }


  .modal-footer {
    justify-content: flex-start;
    background-color: #CD1543;
    height: 50px;
    margin-top: 15px;
    outline: none !important;

  }
  
  .modal-body button {
    background-color: #CD1543;
    border-color: #CD1543;
    color: white;
    margin-right: 10px;
    border-radius:20px;
    border: none;
    margin-left: 365px;
    margin-top: 15px;
  }
  
 
  
  
  
  /* Add the following rules to your existing SCSS file */
.modal-open {
    overflow: hidden;
    pointer-events: none;
    outline: none !important;

  }
  
  .modal-open .modal {
    display: block;
    outline: none !important;

  }
  
  .modal-open .modal-backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1040;
    outline: none !important;

  }
  
  .modal-open .modal-dialog {
    pointer-events: auto;
    z-index: 1050;
    outline: none !important;

  }
  
  
  .modal {
    /* Existing modal styles */
  
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    outline: none !important;
    border: none;
  }
  
  .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    outline: none !important;

}

.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
    outline: none !important;

}


.modal-dialog {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0;
    max-height: calc(100vh - 40px); /* Adjust the value (40px) to leave space for the modal header and footer */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none !important;

  }
  
  
  .modal-body {
    padding: 0;
    outline: none !important;

    
  }
  
  .modal-body video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    outline: none !important;
  }

  


.mid-panel {
    background-color: #869EC3;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 0;
    right: 0; 
  }


  // .transparent-background {
  //   position: relative;
  //   width: 500px;
  //   height: 500px;
  //   background: url('/assets/Ele1.png') right/cover no-repeat;
  //   background-color: rgba(2, 1, 1, 0); /* Adjust the alpha value (0 to 1) to control the transparency of both the image and the overlay */
  //   right: -80%;
  //   top: 87px;
  // }
  
  // .transparent-background img {
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }
  
  // .translucent-overlay {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: rgba(255, 255, 255, 0.7); /* Adjust the alpha value (0 to 1) to control the transparency of both the image and the overlay */
  // }
  
  
  // ... Your other styles ...

