<div class="container">
    <div class="top-panel">
      <div class="header">
        <h3>SafariSync</h3>
        <h5>Forgot Password</h5>
      </div>
    </div>
  
    <form (ngSubmit)="sendResetPasswordLink()" [formGroup]="form" >
      <div class="mb-3">
        <div class="icon-container">
          <i class="fa-solid fa-circle-user fa-xl"></i>
        </div>
        <input type="text" class="form-control" id="IdPassport" name="IdPassport" placeholder="Id/Passport number" [(ngModel)]="idpass" formControlName="IdPassport"> 
      </div>
      <div *ngIf="form.controls['IdPassport']?.invalid && (form.controls['IdPassport']?.dirty || form.controls['IdPassport']?.touched)">
        <div *ngIf="form.controls['IdPassport']?.errors?.['required']">
          <p class="validation-notification">Id/Passport number is required</p>
        </div>
        <div *ngIf="form.controls['IdPassport']?.errors?.['pattern']">
          <p class="validation-notification">Id format invalid</p>
        </div>
      </div>
      
      
  
      <div class="mb-3">
        <button type="submit" class="submit-button" [disabled]="!form.valid">Submit</button>
      </div>
    </form>
  
    <div class="bottom-panel">
      <img src="\assets\EPI-USE\EPI-USE Logo.jpg" alt="EPI-USE Logo">
    </div>
  </div>
