<!-- Top Panel -->
<div class="top-panel" style="z-index: 2;">
  <h3>{{fullName}}'s Dashboard</h3>
</div>


<div class="dashboard">
  <!-- First Column -->
  <div class="column" >
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Activity Status</h5>
    <!-- Section 1 -->
    <div class="section">
      <!-- Content for Section 1 -->
      <div style="width: 400px; height: 400px;">
        <canvas id="MyChart"></canvas>
      </div>
    </div>
    
    <!-- Section 2 -->
    <div class="section">
      <!-- Content for Section 2 -->
      <div style="width: 400px; height: 190px;">
        <canvas id="BarChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Middle Column -->
  <div class="column middle-column">
    <h4 style="color: #CD1543; font-weight: bold; align-self: center;">Activity Stream</h4>
    <div class="notification-center">
      <table class= "middle-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>User</th>
            <th>Activity</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications">
            <td>{{ notification.date | date }}</td>
            <td>{{ notification.users.username }}</td>
            <td>{{ notification.scheduledActivity.activity.activity_Name }}</td>
            <td>
              <button class="button-but">Accept</button>
              <button class="button-reject">Reject</button>
            </td>
          </tr>
        </tbody>
      </table>
      
    </div>
</div>



  <!-- Third Column -->
  <div class="column">
    <!-- Section 4 -->
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Stock Items Near Depeletion</h5>
    <div class="section">
      <!-- Content for Section 4 -->

        <table class="table table-hover">
          <thead>
            <tr>
              <th><u>Stock Name</u></th>
              <th><u>Quantity</u></th>
            </tr>
          </thead>
          <tbody *ngFor="let stock of lowStock">
            <tr>
              <td>{{ stock.name }}</td>
              <td>{{ stock.quantity }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="stocks.length === 0">
            <tr>
              <td colspan="6">No Low Stock Listings</td>
            </tr>
          </tbody>
        </table>
    


    </div>
    <!-- Section 5 -->
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Top Monthly Performers</h5>
    <div class="section">
      <!-- Content for Section 5 -->
      <div *ngIf="users && users.length >= 3" class="bar-graph">
      <div *ngFor="let user of users?.slice(0,3); let i = index" class="bar">
          <ng-container *ngIf="user">
            <span class="user-name">{{ user.username }}</span>
            <span class="user-rating">{{ user.ratings?.rating }}</span>
            <div class="rating-bar" [style.width.%]="(user.ratings ? user.ratings.rating : 0) / maxValue * 100">
              <!-- You can customize the colors and styles of the rating bars here -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
      
      
      
      
      
      
    </div>