<!-- Top Panel -->
<div class="top-panel" style="z-index: 2;">
  <h3>{{fullName}}'s Dashboard</h3>
</div>

<div class="dashboard" >
  <!-- First Column -->
  <div *ngIf="this.userRole == 'Admin';" class="column">
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Scheduled Activity Status</h5>
    <!-- Section 1 -->
    <div class="section">
      <!-- Content for Section 1 -->
      <div style="width: 400px; height: 400px;">
        <canvas id="MyChart"></canvas>
      </div>
    </div>
    
    <!-- Section 2 -->
    <div class="section">
      <!-- Content for Section 2 -->
      <div style="width: 400px; height: 190px;">
        <canvas id="BarChart"></canvas>
      </div>
    </div>
  </div>

  <!-- Middle Column -->
  <div class="column middle-column" [ngClass]="{'center-column': userRole !== 'Admin'}" >
    <h4 style="color: #CD1543; font-weight: bold; align-self: center;">Activity Stream</h4>
    <div class="notification-center">
      <table class= "middle-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Message</th>
            <th>Status</th>
           
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let notification of notifications">
            <td>{{ notification.date | date:'short'}}</td>
            <td>{{ notification.notification_Message }}</td>
            <td *ngIf="notification.notificationStatus_ID === 3">
              <div class="button-container">
                <button class="button-but" (click)="openAcceptModal(AcceptConfirmationModal, notification.notification_ID)">Accept</button>
                <button class="button-reject" (click)="openRejectModal(RejectConfirmationModal, notification.notification_ID)">Reject</button>
              </div>
            </td>
            <td *ngIf="notification.notificationStatus_ID === 1" style="text-align:center;">
              <p *ngIf="notification.scheduledTaskToolbox_ID === 0" style="color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i> Accepted</p>
              <p *ngIf="notification.scheduledTaskToolbox_ID > 0" style="color:green;"><i class="fa fa-check-circle" aria-hidden="true"></i> Approved</p>
            </td>
            <td *ngIf="notification.notificationStatus_ID === 2" style="text-align:center;">
              <p style="color:red;"><i class="fa fa-times-circle" aria-hidden="true"></i> Rejected</p>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="notifications.length === 0">
          <tr>
            <td colspan="3">No Recent Updates</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Third Column -->
  <div *ngIf="this.userRole == 'Admin';" class="column">
    <!-- Section 4 -->
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Stock Items Near Depeletion</h5>
    <div class="section">
      <!-- Content for Section 4 -->
        <table class="table table-hover">
          <thead>
            <tr>
              <th><u>Stock Name</u></th>
              <th><u>Quantity</u></th>
            </tr>
          </thead>
          <tbody *ngFor="let stock of lowStock">
            <tr>
              <td>{{ stock.name }}</td>
              <td>{{ stock.quantity }}</td>
            </tr>
          </tbody>
          <tbody *ngIf="lowStock.length === 0">
            <tr>
              <td colspan="2">No Low Stock Listings</td>
            </tr>
          </tbody>
        </table>
    </div>

    
    <!-- Section 5 -->
    <h5 style="color: #CD1543; font-weight: bold; align-self: center;">Top Performers</h5>
    <div class="section">
      <!-- Content for Section 5 -->
      <div *ngIf="users && users.length >= 3" class="bar-graph">
      <div *ngFor="let user of users?.slice(0,3); let i = index" class="bar">
          <ng-container *ngIf="user">
            <span class="user-name">{{ user.username }}</span>
            <span class="user-rating">{{ user.ratings?.rating }}</span>
            <div class="rating-bar" [style.width.%]="(user.ratings ? user.ratings.rating : 0) / maxValue * 100">
              <!-- You can customize the colors and styles of the rating bars here -->
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Accept Confirmation Modal -->
<ng-template #AcceptConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Please Confirm</h5>
  </div>
  <div class="modal-body">
    <p><b>Please confirm that you are accepting this position/request.</b></p>
    <div class="text-center">
      <button type="button" class="btn-return" (click)="modal.close('Close click');">Cancel</button>
      <button type="button" class="btn-update" (click)="modal.close('Close click'); updateNotification(ConfirmationModal)">Confirm</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Accept Confirmation Modal -->
<ng-template #RejectConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Please Confirm</h5>
  </div>
  <div class="modal-body">
    <p><b>Please confirm that you are rejecting this position/request.</b></p>
    <div class="text-center">
      <button type="button" class="btn-return" (click)="modal.close('Close click');">Cancel</button>
      <button type="button" class="btn-update" (click)="modal.close('Close click'); updateNotificationReject(ConfirmationRejectModal)">Confirm</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Accept Confirmation Modal -->
<ng-template #ConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>Position Accepted!</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click');">Ok</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Accept Confirmation Modal -->
<ng-template #ConfirmationRejectModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>Position Rejected!</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click');">Ok</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>