<!-- Top Panel -->
<div class="top-panel">
  <h3>View Scheduled Activities</h3>
</div>

<!-- Toolbar -->
<div class="container toolbar">
  <div class="row align-items-center">
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-return" routerLink="/dashboard">
        <i class="fa-solid fa-arrow-left"></i> Return
      </button>
      <button type="button" class="btn btn-add" (click)="openAddModal(addUpdateScheduledActivityModal)">
        <i class="fa-solid fa-plus"></i>  Schedule Activity
      </button>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <div class="input-group">
        <input type="text" class="text-input input form-control flex-fill" placeholder="Search..." name="searchString" autocomplete="off" [(ngModel)]="searchTerm" (ngModelChange)="OnSearch()">
        <span class="input-group-text" *ngIf="searchTerm" (click)="ClearSearchTerm()">
          <i class="fa-solid fa-times"></i>
        </span>
        <span class="input-group-text" *ngIf="!searchTerm">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<!-- Table List -->
<div class="table-container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><u>Activity Name</u></th>
        <th><u>Description</u></th>
        <th><u>Start Date</u></th>
        <th><u>Completion Date</u></th>
        <th><u>Location</u></th>
        <th><u>Supervisor</u></th>
        <th><u>Activity Status</u></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let scheduledActivity of scheduledActivities">
      <tr>
        <td>{{ scheduledActivity.activity.activity_Name }}</td>
        <td>{{ scheduledActivity.activity.activity_Description }}</td>
        <td>{{ scheduledActivity.startDate | date:'short'}}</td>
        <td>{{ scheduledActivity.endDate | date:'short'}}</td>
        <td>{{ scheduledActivity.activity_Location }}</td>
        <td>
          {{ scheduledActivity.users?.username }} {{ scheduledActivity.users?.surname }}
          <p *ngIf="isScheduledActivityNotified(scheduledActivity.scheduledActivity_ID) === 1" style="color:green;">
            <i class="fa fa-check-circle" aria-hidden="true"></i> Accepted 
          </p>
          <p *ngIf="isScheduledActivityNotified(scheduledActivity.scheduledActivity_ID) === 2" style="color:red;">
            <i class="fa fa-times-circle" aria-hidden="true"></i> Rejected 
          </p>
          <p *ngIf="isScheduledActivityNotified(scheduledActivity.scheduledActivity_ID) === 3" style="color:grey;">
            <i class="fa fa-spinner" aria-hidden="true"></i> Pending 
          </p>
        </td>
        <td>{{ scheduledActivity.activityStatus?.activity_Status }}</td>
        <td>
          <div class="button-container">
            <button  class="btn-form-add" (click)="openScheduledTaskModal(scheduledActivity.scheduledActivity_ID, ViewTasks)">View Scheduled Tasks</button>
          </div>
        </td>
        <td>
          <div class="button-container">
            <button class="btn-update"  title="Update" (click)="loadScheduledActivities(addUpdateScheduledActivityModal, scheduledActivity.scheduledActivity_ID)">                
              <i class="fas fa-edit"></i>
            </button>
            <button class="btn-delete"  title="Delete" (click)="OpenDeleteModal(DeleteConfirmationModal, this.scheduledActivity)">
              <i class="fas fa-trash-alt"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="scheduledActivities.length === 0">
      <tr>
        <td colspan="9">No Scheduled Activity Listings</td>
      </tr>
    </tbody>
  </table>
</div>

<!-- View Tasks Modal -->
<ng-template #ViewTasks let-modal class="modal fade">
    <div class="modal-header">
      <h5 class="modal-title">Scheduled Tasks of {{activityName}}</h5>
    </div>
    <div class="modal-body">
      <!-- Toolbar -->
      <div class="task container toolbar">
        <div class="row align-items-center">
          <div class="col d-flex justify-content-start">
            <button type="button" class="btn btn-add" (click)="ScheduleTaskModal(addUpdateScheduledTaskModal, ActivityID)">
              <i class="fa-solid fa-plus"></i>  Schedule Task
            </button>
          </div>
          <div class="col-md-4 d-flex justify-content-end">
            <div class="input-group">
              <input type="text" class="text-input input form-control flex-fill" placeholder="Search..." name="searchString" autocomplete="off" [(ngModel)]="searchTaskTerm" (ngModelChange)="filterTasksBySearchTerm(addUpdateScheduledActivityRequest.scheduledActivityScheduledTask)">
              <span class="input-group-text" *ngIf="searchTaskTerm" (click)="ClearTaskSearchTerm()">
                <i class="fa-solid fa-times"></i>
              </span>
              <span class="input-group-text" *ngIf="!searchTaskTerm">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          </div>
        </div>  
      </div>
      <div class="task-table-container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th><u>Task Name</u></th>
              <th><u>Task Description</u></th>
              <th><u>Start Date</u></th>
              <th><u>End Date</u></th>
              <th><u>Task Status</u></th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of filteredTasks">
              <td>{{ task.scheduledTask.task.task_Name }}</td>
              <td>{{ task.scheduledTask.task.task_Description }}</td>
              <td>{{ task.scheduledTask.startDate | date:'short'}}</td>
              <td>{{ task.scheduledTask.endDate | date:'short'}}</td>
              <td>{{ task.scheduledTask.taskStatus?.task_Status }}</td>
              <td>
                <div class="button-container">
                  <button  class="btn-form-add" (click)="openUpdateTaskStatus(UpdateTaskStatus, task.scheduledTask.scheduledTask_ID )">Update Status</button>
                </div>
              </td>
              <td>
                <div class="button-container">
                  <button  class="btn-form-add" (click)="openAddToolboxModal(addUpdateScheduledTaskToolboxModal, task.scheduledTask.scheduledTask_ID )">View Toolboxes</button>
                </div>
              </td>
              <td>
                <div class="button-container">
                  <button  class="btn-form-add" (click)="openEmployeeModal(ViewEmployees, task.scheduledTask.scheduledTask_ID, task.scheduledTask.task.task_Name )">View Employees/Contractors</button>
                </div>
              </td>
              <td>
                <div class="button-container">
                  <button class="btn-update"  title="Update" (click)="loadScheduledTask(ScheduledTaskModal, task.scheduledTask.scheduledTask_ID, task.scheduledTask.task_ID )">                
                    <i class="fas fa-edit"></i>
                  </button>
                  <button class="btn-delete"  title="Delete" (click)="OpenTaskDeleteModal(DeleteTaskConfirmationModal, task.scheduledTask)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="filteredTasks.length === 0">
            <tr>
              <td colspan="6">No Scheduled Task Listings</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-button-container">
        <button class="btn-return" (click)="modal.close('Close click');">Return</button>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>  

<!-- View Employees Modal -->
<ng-template #ViewEmployees let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Employees assigned to {{ taskName }} </h5>
  </div>
  <div class="modal-body">
    <div class="task container toolbar">
      <div class="row align-items-center">
      </div>  
    </div>
    <div class="task-table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><u>Employees</u></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of scheduledTaskUser">
            <td>{{ employee.user?.username }} {{ employee.user?.surname }}</td>
            <td>
              <p *ngIf="isScheduledTaskNotified(employee.scheduledTask_ID, employee.user?.user_ID||0) === 1" style="color:green;">
                <i class="fa fa-check-circle" aria-hidden="true"></i>Position Accepted 
              </p>
              <p *ngIf="isScheduledTaskNotified(employee.scheduledTask_ID, employee.user?.user_ID||0) === 2" style="color:red;">
                <i class="fa fa-times-circle" aria-hidden="true"></i>Position Rejected 
              </p>
              <p *ngIf="isScheduledTaskNotified(employee.scheduledTask_ID, employee.user?.user_ID||0) === 3" style="color:grey;">
                <i class="fa fa-spinner" aria-hidden="true"></i>Position Pending 
              </p>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="scheduledTaskUser.length === 0">
          <tr>
            <td colspan="4">No Employee Listings</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="task-table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><u>Contractors</u></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contractor of scheduledTaskContractor">
            <td>{{ contractor.contractor?.contractor_Name }}</td>
            <td>
              <p *ngIf="isScheduledTaskContractorNotified(contractor.scheduledTask_ID, contractor.contractor?.contractor_ID||0) === 1" style="color:green;">
                <i class="fa fa-check-circle" aria-hidden="true"></i>Position Accepted 
              </p>
              <p *ngIf="isScheduledTaskContractorNotified(contractor.scheduledTask_ID, contractor.contractor?.contractor_ID||0) === 2" style="color:red;">
                <i class="fa fa-times-circle" aria-hidden="true"></i>Position Rejected 
              </p>
              <p *ngIf="isScheduledTaskContractorNotified(contractor.scheduledTask_ID, contractor.contractor?.contractor_ID||0) === 3" style="color:grey;">
                <i class="fa fa-spinner" aria-hidden="true"></i>Position Pending 
              </p>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="scheduledTaskContractor.length === 0">
          <tr>
            <td colspan="4">No Contractor Listings</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-button-container">
      <button class="btn-return" (click)="modal.close('Close click')">Return</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>  

<!-- Add/Update Schedule Activity Modal -->
<form #form="ngForm">  
  <ng-template #addUpdateScheduledActivityModal let-modal class="modal fade" >
    <div class="modal-header">
      <h5 class="modal-title">{{ isAddMode ? 'Scheduled New Activity' : 'Update Existing Scheduled Activity' }}</h5>
    </div>
    
    <div class="modal-body">
      <div class="row">
        <div class="col-6">

          <div class="mb-3">
            <label for="activity" class="form-label">Select an Activity</label>
            <div class="d-flex align-items-center">
              <select class="form-select" id="activity" name="activity" [(ngModel)]="selectedActivity" required>
                <option value="null" selected disabled>Select an Activity</option>
                <option *ngFor="let activity of activities" [value]="activity.activity_ID">{{ activity.activity_Name }}</option>
              </select>
            </div>
            <div *ngIf="form.controls['activity']?.invalid && (form.controls['activity']?.dirty || form.controls['activity']?.touched)">
              <div *ngIf="form.controls['activity']?.errors?.['required']">
                <p class="validation-notification">Activity selection is required.</p>
              </div>
            </div>
          </div>    
          
          <div class="mb-3">
            <label class="form-label">Select Date Range</label>
            <div class="d-flex align-items-center">
              <input type="datetime-local" class="form-control me-2" id="startDateTime" name="startDateTime" [(ngModel)]="startDateTime" required (blur)="validateDateRange()" [min]="getCurrentDateTime()">
              <span class="mx-2">to</span>
              <input type="datetime-local" class="form-control" id="endDateTime" name="endDateTime"
                     [(ngModel)]="endDateTime" required (blur)="validateDateRange()">
            </div>
            <div *ngIf="(form.controls['startDateTime']?.dirty || form.controls['endDateTime']?.dirty) && !isDateRangeValid()">
              <p class="validation-notification">Please select a valid date and time range.</p>
            </div>
          </div>                                            

          <div class="mb-3">
            <label for="scheduledActivity_Location" class="form-label">Location</label>
            <input type="text" class="text-input form-control" id="scheduledActivity_Location" name="scheduledActivity_Location" [(ngModel)]="addUpdateScheduledActivityRequest.activity_Location" required>
            <div *ngIf="form.controls['scheduledActivity_Location']?.invalid && (form.controls['scheduledActivity_Location']?.dirty || form.controls['scheduledActivity_Location']?.touched)">
              <div *ngIf="form.controls['scheduledActivity_Location']?.errors?.['required']">
                <p class="validation-notification">Scheduled Activity Location is required.</p>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="supervisor" class="form-label">Select a Supervisor</label>
            <div class="d-flex align-items-center">
              <select class="form-select" id="supervisor" name="supervisor" [(ngModel)]="selectedSupervisor" required>
                <option value="null" selected disabled>Select a Supervisor</option>
                <option *ngFor="let supervisor of users" [value]="supervisor.user_ID">{{ supervisor.username }}</option>
              </select>
            </div>
            <div *ngIf="(form.controls['supervisor']?.dirty || form.controls['supervisor']?.touched) && form.controls['supervisor']?.invalid">
              <div *ngIf="form.controls['supervisor']?.errors?.['required']">
                <p class="validation-notification">Supervisor selection is required.</p>
              </div>
            </div>
          </div>

          <button type="button" class="btn-return" (click)="modal.close('Close click'); form.reset();">Cancel</button>
          <button type="button" class="btn-form-add" (click)="isAddMode ? AddScheduledActivity(ConfirmationModal, AddUpdateError) : UpdateScheduledActivity(ConfirmationModal, AddUpdateError); modal.close('Close click');" [disabled]="isAddMode ? !form.valid : (isAddMode && !form.dirty)" [ngClass]="{'disabled': isAddMode ? !form.valid : (!isAddMode && !form.dirty)}">
            {{ isAddMode ? 'Schedule Activity' : 'Update Schedule Activity' }}
          </button>

        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </ng-template>

  <!-- Add/Update Schedule Task Modal -->  
    <ng-template #addUpdateScheduledTaskModal let-modal class="modal fade" >
      <div class="modal-header">
        <h5 class="modal-title">{{ isAddMode ? 'Scheduled New Task' : 'Update Existing Scheduled Task' }}</h5>
      </div>
      
      <div class="modal-body">

        <div class="task-table-container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><u>Task Name</u></th>
                <th><u>Task Description</u></th>
                <th><u> Required Skill</u></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of addUpdateActivityRequest.activityTask">
                <td>{{ task.task?.task_Name }}</td>
                <td>{{ task.task?.task_Description }}</td>
                <td>{{ task.task?.skill?.skill_Name }}</td>
                <td><div class="button-container">
                  <button  class="btn-form-add" (click)="openScheduleTaskModal(task.task?.task_ID||0, ScheduledTaskModal, exists, task.task?.task_Name||'' )">Schedule Task</button>
                </div></td>
              </tr>
            </tbody>
            <tbody *ngIf="addUpdateActivityRequest.activityTask?.length === 0">
              <tr>
                <td colspan="4">No Task Listings</td>
              </tr>
            </tbody>
          </table>
        </div>

        <button type="button" class="btn-return" (click)="modal.close('Close click'); form.reset();">Return</button>
      </div>
      <div class="modal-footer"></div>
    </ng-template>

  <!-- Schedule Task Modal -->
  <form #task="ngForm">  
    <ng-template #ScheduledTaskModal let-modal class="modal fade" >
      <div class="modal-header">
        <h5 class="modal-title">Scheduled Task {{task_Name}}</h5>
      </div>
      
      <div class="modal-body">
        <div class="row">
          <div class="col-6">        
            
            <div class="mb-3">
              <label class="form-label">Select Date Range</label>
              <div class="d-flex align-items-center">
                <input type="datetime-local" class="form-control me-2" id="taskstartDateTime" name="taskstartDateTime" [(ngModel)]="taskstartDateTime" required (blur)="validateTaskDateRange()">
                <span class="mx-2">to</span>
                <input type="datetime-local" class="form-control" id="taskendDateTime" name="taskendDateTime" [(ngModel)]="taskendDateTime" required (blur)="validateTaskDateRange()">
              </div>
              <div *ngIf="(task.controls['taskstartDateTime']?.dirty || task.controls['taskendDateTime']?.dirty) && !isDateTaskRangeValid()">
                <p class="validation-notification">Please select a valid date and time range.</p>
              </div>
            </div>                                                 
    
            <div class="mb-3">
              <label for="employee" class="form-label">Select a Employee</label>
              <div class="d-flex align-items-center">
                <select class="form-select" id="employee" name="employee" [(ngModel)]="selectedEmployee">
                  <option value="null" selected disabled>Select a Employee</option>
                  <option *ngFor="let employee of users" [value]="employee.user_ID">{{ employee.username }}</option>
                </select>
            
                <button class="btn-update" style="margin-left:10px;" title="Add" (click)="addEmployeeToArray(alreadyExistsEmployee)" [disabled]="!selectedEmployee">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>    
            
            <div class="task-table-container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th><u>Employee Name</u></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="addUpdateEmployee.length > 0">
                  <tr *ngFor="let employee of addUpdateEmployee">
                    <td>{{ employee.username }}</td>
                    <td>
                      <div class="button-container">
                        <button class="btn-delete" title="Delete" (click)="deleteEmployeeFromArray(employee)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="addUpdateEmployee.length === 0">
                  <tr>
                    <td colspan="2">No Employee Listings</td>
                  </tr>
                </tbody>
              </table>
            </div>   
            
            <div class="mb-3">
              <label for="contractor" class="form-label">Select a Contractor</label>
              <div class="d-flex align-items-center">
                <select class="form-select" id="contractor" name="contractor" [(ngModel)]="selectedContractor">
                  <option value="null" selected disabled>Select a Contractor</option>
                  <option *ngFor="let contractor of contractors" [value]="contractor.contractor_ID">{{ contractor.contractor_Name }}</option>
                </select>
            
                <button class="btn-update" style="margin-left:10px;" title="Add" (click)="addContractorToArray(alreadyExistsContractor)" [disabled]="!selectedContractor">
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>    
            
            <div class="task-table-container">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th><u>Contractor Name</u></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody *ngIf="addUpdateContractor.length > 0">
                  <tr *ngFor="let contractor of addUpdateContractor">
                    <td>{{ contractor.contractor_Name }}</td>
                    <td>
                      <div class="button-container">
                        <button class="btn-delete" title="Delete" (click)="deleteContractorFromArray(contractor)">
                          <i class="fas fa-trash-alt"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tbody *ngIf="addUpdateContractor.length === 0">
                  <tr>
                    <td colspan="2">No Contractor Listings</td>
                  </tr>
                </tbody>
              </table>
            </div>   
    
            <button type="button" class="btn-return" (click)="modal.close('Close click'); form.reset();">Cancel</button>
            <button type="button" class="btn-form-add" (click)="isAddMode ? AddScheduledTask(TaskConfirmationModal, AddUpdateTaskError) : UpdateScheduledTask(ConfirmationModal, AddUpdateError); modal.close('Close click');"  [disabled]="isAddMode ? !task.valid : (isAddMode && !task.dirty)" [ngClass]="{'disabled': isAddMode ? !task.valid : (!isAddMode && !task.dirty)}">
              {{ isAddMode ? 'Schedule Task' : 'Update Schedule Task' }}
            </button>
            
          </div>
        </div>
      </div>
      <div class="modal-footer"></div>
    </ng-template>

<!-- Add/Update Success Confirmation Modal -->
<ng-template #ConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>{{isAddMode ? "A new activity has been successfully scheduled!" : "This existing scheduled activity has been updated"}}</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Add/Update Success Confirmation Modal -->
<ng-template #TaskConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>{{isAddMode ? "A new task has been successfully scheduled!" : "This existing scheduled task has been updated"}}</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Task Exists Error Modal -->
<ng-template #exists let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>This task has already been scheduled.</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Task Exists Error Modal -->
<ng-template #alreadyExistsEmployee let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>This employee is already scheduled to this task.</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Task Exists Error Modal -->
<ng-template #alreadyExistsContractor let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>This contractor is already scheduled to this task.</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- AddUpdate Error -->
<ng-template #AddUpdateError let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>There was and error {{isAddMode ? "scheduling this activity's details" : "updating this scheduled activity"}}.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- AddUpdate Error -->
<ng-template #AddUpdateTaskError let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>There was and error {{isAddMode ? "scheduling this task's details" : "updating this scheduled task"}}.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Delete Confirmation Modal -->
<ng-template #DeleteConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Warning</h5>
  </div>
  <div class="modal-body">
    <p><b>Are you sure you want to delete this record?</b></p>
    <div class="activity-details">
      <div class="detail">
        <span class="label">Activity Name: </span>
        <span class="value">{{ ScheduledActivity.activity.activity_Name }}</span>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn-return" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" class="btn-update" (click)="modal.close('Close click'); DeleteActivity(ScheduledActivity.scheduledActivity_ID, ConfirmationOfDelete, ActivityDeleteError );">Confirm</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Confirmation of delete -->
<ng-template #ConfirmationOfDelete let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>This scheduled activity has been deleted.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Activity Delete Error -->
<ng-template #ActivityDeleteError let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>There was an error deleting this scheduled activity.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Delete Confirmation Modal -->
<ng-template #DeleteTaskConfirmationModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Warning</h5>
  </div>
  <div class="modal-body">
    <p><b>Are you sure you want to delete this record?</b></p>
    <div class="activity-details">
      <div class="detail">
        <span class="label">Task Name: </span>
        <span class="value">{{ scheduledTask.task.task_Name }}</span>
      </div>
    </div>
    <div class="text-center">
      <button type="button" class="btn-return" (click)="modal.close('Close click')">Cancel</button>
      <button type="button" class="btn-update" (click)="modal.close('Close click'); DeleteTaskActivity(scheduledTask.scheduledTask_ID, TaskConfirmationOfDelete, TaskDeleteError );">Confirm</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Confirmation of delete -->
<ng-template #TaskConfirmationOfDelete let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>This scheduled task has been deleted.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Activity Delete Error -->
<ng-template #TaskDeleteError let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>There was an error deleting this scheduled task.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- View Schedule Task Toolboxes Modal -->  
<ng-template #addUpdateScheduledTaskToolboxModal let-modal class="modal fade" >
  <div class="modal-header">
    <h5 class="modal-title">Assigned Toolboxes</h5>
  </div>
  
  <div class="modal-body">

    <!-- Toolbar -->
    <div class="task container toolbar">
      <div class="row align-items-center">
        <div class="col d-flex justify-content-start">
          <div class="d-flex align-items-center">
            <select class="form-select" id="toolbox" name="toolbox" [(ngModel)]="selectedToolbox">
              <option value="null" selected disabled>Select a Toolbox</option>
              <option *ngFor="let toolbox of toolboxes" [value]="toolbox.toolbox_ID">{{ toolbox.toolbox_Name }}</option>
            </select>
        
            <button class="btn-update" style="margin-left:10px;" title="Add" [disabled]="!selectedToolbox" (click)="AddScheduledTaskToolbox(TaskToolboxConfirmation, alreadyExistsToolbox)">
              <i class="fa-solid fa-plus"></i>
            </button>
          </div>
        </div>   
      </div>  
    </div>

    <div class="task-table-container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th><u>Toolbox Name</u></th>
            <th><u>Task Description</u></th>
            <th><u>Checkout Status</u></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let toolbox of this.scheduledTaskToolboxes">
            <td>{{ toolbox.toolbox?.toolbox_Name }}</td>
            <td>{{ toolbox.toolbox?.toolbox_Description }}</td>
            <td>
              <p *ngIf="isScheduledTaskToolboxNotified(toolbox.scheduledTask_ID, toolbox.scheduledTaskToolbox_ID) === 1" style="color:green;">
                <i class="fa fa-check-circle" aria-hidden="true"></i> Checkout Approved 
              </p>
              <p *ngIf="isScheduledTaskToolboxNotified(toolbox.scheduledTask_ID, toolbox.scheduledTaskToolbox_ID) === 2" style="color:red;">
                <i class="fa fa-times-circle" aria-hidden="true"></i>Checkout Rejected 
              </p>
              <p *ngIf="isScheduledTaskToolboxNotified(toolbox.scheduledTask_ID, toolbox.scheduledTaskToolbox_ID) === 3" style="color:grey;">
                <i class="fa fa-spinner" aria-hidden="true"></i>Checkout Pending 
              </p>
            </td>
            <td><div class="button-container">
              <button  class="btn-form-add">View Toolbox Items</button>
            </div>
          </td>
          <td>
            <div class="button-container">
              <button class="btn-delete"  title="Delete" (click)="DeleteScheduledTaskToolbox(toolbox.scheduledTaskToolbox_ID, TaskToolboxConfirmationOfDelete, TaskToolboxDeleteError)">
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </td>
          </tr>
        </tbody>
        <tbody *ngIf="this.scheduledTaskToolboxes.length === 0">
          <tr>
            <td colspan="4">No Toolbox Listings</td>
          </tr>
        </tbody>
      </table>
    </div>

    <button type="button" class="btn-return" (click)="modal.close('Close click'); form.reset();">Return</button>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Toolbox Exists Error Modal -->
<ng-template #alreadyExistsToolbox let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title" id="ConfirmationModal">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>This toolbox is already scheduled to this task.</b></p>
    <div class="text-center">
      <button class="btn-add" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Confirmation of delete -->
<ng-template #TaskToolboxConfirmation let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>Toolbox/s have been successfully scheduled.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Confirmation of delete -->
<ng-template #TaskToolboxConfirmationOfDelete let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>This toolbox that was scheduled to this scheduled task has been deleted.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Activity Delete Error -->
<ng-template #TaskToolboxDeleteError let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Error</h5>
  </div>
  <div class="modal-body">
    <p><b>There was an error deleting this toolbox that is scheduled to this scheduled task.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click')">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Activity Delete Error -->
<ng-template #UpdateTaskStatus let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Please select a status</h5>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <select class="form-select" [(ngModel)]="selectedStatus" name="selectedStatus">
        <option value="null" selected disabled>Select a Status</option>
        <option value="1">Not Started</option>
        <option value="2">In Progress</option>
        <option value="3">Completed</option>
      </select>      
    </div>
    <div class="text-center">
      <button type="button" class="btn-return" (click)="modal.close('Close click');">Cancel</button>
      <button type="button" class="btn-update" (click)="modal.close('Close click'); updateScheduledTaskStatus(statusUpdateConfirmation)">Update</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>

<!-- Status Update Confirmation -->
<ng-template #statusUpdateConfirmation let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Success</h5>
  </div>
  <div class="modal-body">
    <p><b>This scheduled task's status has been successfully updated.</b></p>
    <div class="text-center">
      <button type="button" class="btn-update" (click)="modal.close('Close click'); ngOnInit()">OK</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
