.top-panel {
    background-color: #869EC3;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    left: 0;
    right: 0; 
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh; /* Adjust the margin to move the buttons down */
}

.nav-link {
    padding: 30px 60px; /* Adjust the padding values as needed */
    font-size: 20px; /* Adjust the font size as needed */
    background-color: #001844; /* Change to your desired color */
    color: #CD1543;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}