<!-- Image 1 -->
<div class="transparent-background image1">
  <div class="translucent-overlay"></div>
</div>

<!-- Image 2 -->
<div class="transparent-background image2">
  <div class="translucent-overlay"></div>
</div>

<!-- Image 3 -->
<div class="transparent-background image3">
  <div class="translucent-overlay"></div>
</div>

 <!-- Image 4 -->
 <div class="transparent-background image4">
  <div class="translucent-overlay"></div>
</div>

<ng-container *ngIf="currentRoute !== 'register-admin' && currentRoute !== 'login' && currentRoute !== 'forgot-password' && currentRoute !== 'register-supervisor' && currentRoute !== 'register-farmworker'">
  <ng-container *ngIf="userRole === 'Supervisor' || userRole === 'Farm Worker'; else adminNavbar">
    <app-usernavbar></app-usernavbar>
  </ng-container>
  <ng-template #adminNavbar>
    <app-navbarstuff></app-navbarstuff>
  </ng-template>
</ng-container>


<router-outlet *ngIf="currentRoute === 'register-admin' || currentRoute === 'login' || currentRoute === 'forgot-password' || currentRoute === 'register-supervisor' || currentRoute === 'register-farmworker'"></router-outlet>
<ng-toast></ng-toast>

<router-outlet></router-outlet>