.top-panel {
    background-color: #001844;
    height:116px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; 
}

nav {
    margin-top: 116px;
}   

.collapse.navbar-collapse {
    justify-content: center;
}
 
.navbar-nav {
    justify-content: space-between;
    width: 95%;
}  
  
.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

i{
    font-size: 24px;
}

.bottom-panel {
    background-color: #CD1543;
    height:57px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.bottom-panel img {
    margin-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    width:100px;
    height:50px;
    border-radius:10px;
} 

.transparent-background {
    position: fixed;
     width: 500px;
    height: 800px; /* You can adjust this height as needed */
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha value (0 to 1) to control the transparency of both the image and the overlay */
  }
  
  .translucent-overlay {
    position: relative; /* Change to "relative" */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha value (0 to 1) to control the transparency of the overlay */
  }
  
  /* Image 1 styles */
  .image1 {
    background-image: url('/assets/Ele1.png');
    right: -10%;
    top: 385px; /* Adjust the value to move the image down (increase the value for more distance) */
    background-size: 100%;
    
  }
  
  /* Image 2 styles */
  .image2 {
    background-image: url('/assets/Map.png');
    left: -10%;
    top: 355px; /* Adjust the value to move the image down (increase the value for more distance) */
    background-size: 100%;
  }
  
  /* Image 3 styles */
  .image3 {
    background-image: url('/assets/Bird1.png');
    left: 90%;
    top: 300px; /* Adjust the value to move the image up (increase the negative value for more distance) */
    width: 80px;
    height: 100px;
    background-size: 100%;
  }
  
  /* Image 4 styles */
  .image4 {
    background-image: url('/assets/Bird2.png');
    left: 81%;
    top: 282px; /* Adjust the value to move the image up (increase the negative value for more distance) */
    width: 80px;
    height: 100px;
    background-size: 100%;
  }
  
  html, body {
    overflow: hidden;
    height: 100%;
  }
  
  body {
    position: fixed;
    width: 100%;
    overflow: hidden;
  
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
