.html, body {
  height: 100%;
  margin: 0;
  
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #869EC3; /* Set the background color to blue or any desired shade */
    padding: 0px; /* Adjust the padding as needed */
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .top-panel {
    background-color: #001844;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 100%; /* Occupy full width of the container */
    margin-bottom: 20px; /* Add spacing between top panel and form */
  }

.header {
  text-align: center;
  margin-bottom: 0.5rem;
}

.header h1 {
  font-size: 24px;
}

.header h2 {
  font-size: 18px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.mb-3 {
  margin-bottom: 0.3rem; /* Adjust the margin value */
  position: relative;
}

.form-label {
  font-weight: bold;
  font-size: 14px;
}

.form-control {
    width: 250px;
    height: 40px; /* Adjust the height value as per your preference */
    padding: 0.05rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 12px;
    padding-left: 45px;
  }

  .mb-3 {
    position: relative;
  }
  
  .icon-container {
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 6px;
  }
  

  .bottom-panel {
    background-color: #CD1543;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    width: 100%; /* Occupy full width of the container */
  }
  
  .bottom-panel img {
    margin-right: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
  }

  .submit-button {
    background-color: #001844;
    border-color: #001844;
    color: white;
    border-radius:20px;
    border:none;
  }

  .submit-button:disabled {
    background-color: #001844; 
    border-color: #001844;
    box-shadow: none; 
    opacity: 0.7; 
    cursor: not-allowed;
    
  }
  
  .validation-notification{
    color: #CD1543;
    font-weight: bold;
    font-size: small;
  }

  .upload-button{
    background-color: #001844;
    border-color: #001844;
    color: white;
    border-radius:20px;
    border:none;
    align-items: flex-start;
  }

  .image-container{
    align-items: flex-start;
  }


  .password-container {
    position: relative;
    width: 250px; /* Adjust the width as needed */
  }
  
  .icon-container {
    position: absolute;
    left: 5px; /* Adjust the left value as needed */
    top: 50%;
    transform: translateY(-50%);
    background-color: #ffffff;
    padding: 6px;
  }
  
  .toggle-password {
    position: absolute;
    right: 10px; /* Adjust the right value as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  
  


  /* Add the eye icon and eye-slash icon using Font Awesome */
  .fa-eye:before {
    content: "\f06e"; /* Eye icon */
  }

  .fa-eye-slash:before {
    content: "\f070"; /* Eye slash icon */
  }

  /* Hide password by default */
  input[type="password"] {
    padding-right: 30px; /* Add some right padding for the eye icon */
  }

  .supplier.container.toolbar {
    margin-top: 20px;
    max-width: 100%;
  }
  
  .supplier-table-container {
    max-height: 150px;
    max-width: 50%; /* Adjust the width as needed */
    margin: 0; /* Remove margin auto */
    margin-top: 20px;
    margin-bottom: 100px; /* Adjust margin-bottom if needed */
    display: block; /* Use block display to align left */
    overflow-y: scroll;
  }
  

  .table-container {
    max-height: 231px;
    max-width: 68.3%;
    margin: 0 auto;
    margin-top: 20px;
    margin-Bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .table.table-hover  {
    max-width: 99.9%;
    margin: auto;
    color: black;
    border: 1px solid #869EC3;
  }

  .table.table-hover thead th {
    background-color: #869EC3;
    color: white;
  }

  .table.table-hover tbody td {
    border: 1px solid #869EC3;
    padding: 8px;
  }

  .table.table-hover tbody tr:hover {
    background-color: rgba(134, 158, 195, 0.55);
  }

  .button-container {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
  }

  .btn-update {
    background-color: #001844;
    border-color: #001844;
    color: white;
    margin-right: 10px;
    border-radius:20px;
    border:none;
  }

  .btn-update:hover {
    box-shadow: 0 0 5px #001844;
  }

  .btn-delete {
    background-color: #CD1543;
    border-color: #CD1543;
    color: white;
    margin-right: 10px;
    border-radius:20px;
    border:none;
  }

  .btn-delete:hover {
    box-shadow: 0 0 5px #CD1543;
  }

  button[title]:hover:after {
    content: attr(title);
    padding: 4px 8px;
    color: #fff;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    margin-left: 10px;
    background-color: #f2f2f2;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #999;
  }

  .form-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px; /* Adjust the gap between columns as needed */
    margin-top: 1rem;
  }

  .form-column {
    flex: 1;
  }



