<div class="top-panel">
  <h3>Generate Scheduled Activity Report</h3>
</div>

<!-- Toolbar -->
<div class="container toolbar">
  <div class="row align-items-center">
    <div class="col d-flex justify-content-start">
      <button type="button" class="btn btn-return" routerLink="/reporting">
        <i class="fa-solid fa-arrow-left"></i> Return
      </button>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      <div class="input-group custom-search-bar">
        <input type="text" class="text-input input form-control flex-fill" placeholder="Search Scheduled Activities..." name="searchString" autocomplete="off" [(ngModel)]="searchTerm" (ngModelChange)="getAllScheduledActivities()">
        <span class="input-group-text" *ngIf="searchTerm" (click)="searchTerm = ''">
          <i class="fa-solid fa-times"></i>
        </span>
        <span class="input-group-text" *ngIf="!searchTerm">
          <i class="fa-solid fa-magnifying-glass"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="tables-container">
  <!-- Scheduled Activity Table -->
  <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th><u>Scheduled Activity Name</u></th>
          <th><u>Start Date</u></th>
          <th><u>End Date</u></th>
          <th><u>Status</u></th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <tbody *ngFor="let activity of scheduledActivities">
        <tr>
          <td>{{ activity.activity.activity_Name }}</td>
          <td>{{ activity.startDate| date: 'short' }}</td>
          <td>{{ activity.endDate| date: 'short' }}</td>
          <td>{{ activity.activityStatus?.activity_Status }}</td>
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td><strong>Total Scheduled Activities:</strong></td>
          <td><strong>{{ scheduledActivities.length }}</strong></td>
          <!-- Add more columns as needed -->
        </tr>
      </tfoot>
      <tbody *ngIf="scheduledActivities.length === 0">
        <tr>
          <td colspan="2">No Scheduled Activities</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="button-container">
  <button class="Generate-button" (click)="generatePDF(); OpenPDFModal(PDFModal)">Generate PDF</button>
</div>



<!-- PDF modal template -->
<ng-template #PDFModal let-modal class="modal fade">
  <div class="modal-header">
    <h5 class="modal-title">Generated Scheduled Activity Report</h5>
  </div>
  <div class="modal-body">
    <!-- Embed the PDF using an iframe -->
    <iframe [src]="pdfSrc" width="100%" height="500px"></iframe>
    <div class="modal-button-container">
      <button class="btn-return" (click)="modal.close('Close click')">Return</button>
      <!-- Add a download button if needed -->
      <button class="btn-add" (click)="downloadPDF()">Download PDF</button>
    </div>
  </div>
  <div class="modal-footer"></div>
</ng-template>
